{{define "head"}}
    <title>开发调试 - 认证和访问控制系统</title>
{{end}}
{{define "body"}}
    {{template "nav" .}}
    <div class="container" x-data="  {
    u: '',
    lastUrl: '',
    init() {
      this.lastUrl = localStorage.getItem('lastCallback')
    },
    go() {
      localStorage.setItem('lastCallback', this.u)
      location.href = this.u + location.search
    }
  }" x-init="init()">
        <div class="row mb-3 mt-3">
            <div class="col">
                <span>默认访问地址，不知道这个页面该填啥的同学点这里 -></span>
                <a href="{{.CallbackUrl}}" class="btn btn-link">{{.CallbackUrl}}</a>
            </div>
        </div>
        <hr>
        <h3>开发调试用</h3>
        <div class="row mb-3">
            <div class="col">
                <input type="url" class="form-control"
                       name="url" tabindex="1" placeholder="自定义跳转地址（开发调试用）" x-model="u">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary" x-on:click="go()">Go</button>
            </div>
        </div>
        <h4>历史访问记录</h4>
        <div class="row mb-3" x-show="lastUrl">
            <div class="col">
                <a x-bind:href="lastUrl" class="btn btn-link" x-text="lastUrl"></a>
            </div>
        </div>
    </div>
{{end}}